---
---

$primary-color: #B3C8CF;
$background-color: #F1F0E8;
$text-color: #2D2D2D;
$masthead-link-color: $text-color;
$link-color: #8CA7B0;
$footer-background-color: #EBE3D5;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.site-title {
  color: $text-color;
}

.page__content {
  background-color: $background-color;
}

.masthead {
  background-color: $secondary-color;
}

.page__footer {
  background-color: $footer-background-color;
}
